@page "/about"

@inject IJSRuntime JSRuntime;

<h2 class="title">Jujutsu Kaisen Proyect</h2>


<h4 class="title">Thecnologies Used In-Proyect</h4>


<h4 class="title">Entity Framework</h4>


<h4 class="title">Sqlite</h4>


<h4 class="title">Blazor Server And Blazor Web Assembly</h4>


<h4 class="title">AutoMapper</h4>



<h4 class="title">By Erudito Dev -  Follow Me</h4>


<div class="list-Icon">
    <div>
        <a href="https://github.com/theerudito?tab=repositories" target="_blank">
            <i class="bi bi-github"></i>
        </a>
    </div>

    <div>
        <a href="https://www.linkedin.com/in/theerudito/" target="_blank">
            <i class="bi bi-linkedin"></i>
        </a>
    </div>

    <div>
        <a href="mailto:erudito.tv@gmail.com" target="_blank">
            <i class="bi bi-envelope"></i>
        </a>
    </div>

    <div>
        <a href="https://www.instagram.com/theerudito/" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>
    </div>

</div>



